---
import Results from "../components/results";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Content Adder</title>
  </head>
  <body class="bg-black text-white placeholder-white">
    <Results client:load />
  </body>
</html>
